<header class="site-header">
    <div class="text-center">
        <h3>Your Favorites</h3>
    </div>
</header>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <!-- TWITTER PANEL -->
            <div class="col-md-4 mb fade-animation"
                 ng-init = "isHidden=false" ng-repeat="item in sandwichList | filter:myFilter| orderBy:everyoneLikeOrdering">
                <div class="instagram-panel pn animated">
                    <div class="background-hover-cards" style="background: url({{item.image}}) no-repeat center top;">
                        <div class="hover-item animated">
                            <!-- <i class="fa fa-instagram fa-4x"></i> -->
                            <i class="fa fa-info-circle"></i>
                            <p class="item-name">{{item.name}}</p>
                            <p>{{item.place}} - {{item.city}}</p>
                            <p class="social-stats"><small><i class="users icon"></i>:</small>&nbsp; {{item.everyoneLikes}} <i class="fa fa-heart"></i>&nbsp;
                                <small><i class="child icon"></i>:</small>&nbsp; {{item.friendsLike}} <i class="fa fa-heart"></i></p>
                            <button class="btn btn-default" ng-click="removeFavorite(item); isHidden=true" title="Remove From Favorites"><i class="remove icon"></i>Remove</button>
                        </div>
                    </div>
                </div>
            </div><!-- /col-md-4 -->
        </div>
    </div>
</div>