<div class="row">
    <div class="col-lg-12, hide-animation" ng-init="isHidden=false" ng-hide="isHidden" ng-repeat="item in sandwichList | filter:myFilter:name | orderBy:random">
        <div class="wellList">
            <div class="list-group">
                    <div class="media col-md-3">
                        <figure class="pull-left figureAdjust">
                            <img class="media-object img-rounded img-responsive imgAdjust"  src={{item.image}} >
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="list-group-item-heading"> {{item.name}} </h2>
                        <h4 class="list-group-item-text"> {{item.description}}
                        </h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> 14240 <small> votes </small></h2>
                        <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                        <button ng-click="addFavorite(item); isHidden=true" title="Add to Favorites"><i class="plus icon"></i></button>
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <p> Average 4.5 <small> / </small> 5 </p>
                    </div>
            </div>
        </div>
    </div>
</div>
