<div class="row fade-animation"  ng-init="isHidden=false" ng-hide="isHidden"  ng-repeat="item in sandwichList | filter:myFilter:name | orderBy: everyoneLikeOrdering">
    <div class="col-lg-12">
        <div class="wellList">
            <div class="list-group">
                    <div class="media col-md-3">
                        <figure class="pull-left figureAdjust">
                            <img class="media-object img-rounded img-responsive imgAdjust"  src={{item.image}}>
                        </figure>
                    </div>
                    <div class="col-md-6" style="left: 15px;">
                        <!--<h2 class="list-group-item-heading"> {{item.name}} </h2>-->
                        <h2> {{item.name}} </h2>
                        <h3>{{item.place}} - {{item.city}}</h3>
                        <h4 class="list-group-item-text"> {{item.description}} </h4>
                    </div>
                    <div class="col-md-3 text-right" style="bottom: 15px;">
                        <h2>{{item.price | currency}}</h2>
                        <p style="font-size: 1.8em;"><small><i class="users icon"></i>:</small>&nbsp; <b>{{item.everyoneLikes}}</b> <i class="heart icon"></i></p>
                        <p style="font-size: 1.8em;"><small><i class="child icon"></i>:</small>&nbsp; <b>{{item.friendsLike}}</b><i class="heart icon"></i></p>
                        <button class="btn btn-default" ng-click="addFavorite(item); isHidden=true" title="Add to Favorites"><i class="plus icon"></i>Add</button>
                    </div>
            </div>
        </div>
    </div>
</div>
